body {
    padding: 0px;
    background-image: url('https://previews.123rf.com/images/alicjane/alicjane1802/alicjane180200169/96010494-gray-cement-wall-texture-or-stone-background.jpg');
    text-align: center;
}

/* Removing the shadows from clicked buttons*/
button {
    outline:none;
}

/* Formatting for the main section of each display that might appear. */
.main {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    height:50%;
    width:40%;
}
 
/* Formatting for the top-right box which contains the timer. */
.timer {
    position:fixed;
    text-align: right;
    top: 10px;
    margin-right: 10px;
    right: 0;
    font-weight: bold;
    height: 3%;
    width: 14%;
    background-color: transparent;
}

/* Formatting for the top-left box which contains the 'view highscore' button. */
#view-highscores {
    position:fixed;
    top: 10px;
    left: 0;
    height: 3%;
    width:11%;
    background-color: transparent;
    padding-left: 8px;
    text-align: left;
}

/* Formatting for the 'start quiz' button on the opening screen. */
#start-quiz {
    margin-top: 3px;
    border-radius: 10px;
    background-color: lightgreen;
    opacity: 70%;
}

#question {
    margin-bottom: 20px;
}

/* Formatting the box where questions and answer choices to appear larger and less cramped. */
#question-box {
    width:60%;
}

/* Formatting the answer choice buttons */
.answer {
    display: block;
    font-size: large;
    margin-top: 3px;
    border-radius: 10px;
    color: black;
    background-color: lightgreen;
    opacity: 70%;
    width:100%;
    text-align: left;
}

/* Formatting the "correct" or "wrong" message at the bottom of screen during the quiz. */
#feedback {
    text-align: left;
    font-size: large;
    font-weight: bold;
    font-family: cursive;
}

 /* Formatting the list of highscores at the end of the quiz  */
#highscore-list {
    background-color: white;
    opacity: 70%;
    margin-bottom: 40px;
}



/* Formatting the buttons on the highscores page. */
.highscore-btn {
    margin-top: 3px;
    border-radius: 10px;
    background-color: lightgreen;
    opacity: 70%;
}