body {
    padding: 0px;
    background-image: url('https://previews.123rf.com/images/alicjane/alicjane1802/alicjane180200169/96010494-gray-cement-wall-texture-or-stone-background.jpg');
    text-align: center;
}

.timer {
    position:fixed;
    text-align: right;
    top: 10px;
    margin-right: 10px;
    right: 0;
    font-weight: bold;
    height: 3%;
    width: 14%;
    background-color: transparent;
}



#view-highscores {
    position:fixed;
    top: 10px;
    left: 0;
    height: 3%;
    width:11%;
    background-color: transparent;
    padding-left: 1%;
}

.main {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20%;
    height:50%;
    width:40%;
}

#question-box {
    width:60%;
}

.answer {
    display: block;
    font-size: large;
    margin-top: 3px;
    border-radius: 10px;
    color: black;
    background-color: lightgreen;
    opacity: 70%;
    width:100%;
    text-align: left;
}

#start-quiz {
    margin-top: 3px;
    border-radius: 10px;
    background-color: lightgreen;
    opacity: 70%;
}

#highscore-list {
    background-color: white;
    opacity: 70%;
    margin-bottom: 40px;
}

.highscore-btn {
    margin-top: 3px;
    border-radius: 10px;
    background-color: lightgreen;
    opacity: 70%;
}

.stored-score {
    margin: 0;
    padding: 1;
}

#question {
    margin-bottom: 20px;
}

#feedback {
    text-align: left;
    font-size: large;
    font-weight: bold;
    font-family: cursive;
}

button {
    outline:none;
}
