body {
    padding: 0px;
    background-image: url('https://previews.123rf.com/images/alicjane/alicjane1802/alicjane180200169/96010494-gray-cement-wall-texture-or-stone-background.jpg');
    text-align: center;
}

#timer {
    position:fixed;
    top: 0;
    right: 0;
    height: 3%;
    width: 7%;
    background-color: red;
}

#view-highscores {
    position:fixed;
    top: 0;
    left: 0;
    height: 3%;
    width:11%;
    background-color: red;
    padding-left: 1%;
}

.main {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20%;
    height:50%;
    width:40%;
}


.answer {
    display: block;
    font-size: large;
    margin-top: 3px;
    border-radius: 10px;
    background-color: lightgreen;
    opacity: 70%;
}

#start-quiz {
    margin-top: 3px;
    border-radius: 10px;
    background-color: lightgreen;
    opacity: 70%;
}

#highscore-list {
    background-color: white;
    opacity: 70%;
}

.highscore-btn {
    margin-top: 3px;
    border-radius: 10px;
    background-color: lightgreen;
    opacity: 70%;
}
